body {
  background-color: powderblue;
}
.nav-bar {
  background-color: #802B1A;
  width: 100%;
  border: 1px solid black;
  float:left;
}
.nav-element {
  color: black;
  text-align: center;
  width: 12%;
  border: 1px solid black;
  float: left;
  margin: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.page-content{
  float: left;
  width: 100%;
}

.page-image{
  float: left;
  position:absolute;
  top: 150px;
  left: 50px;
  width:100px;
  height:100px;
}

.page-text{
  float: left;
  position:relative;
}
