body {
    background-color: lightgray ;
}
.nav-bar {
    background-color: #edb13f;
    width: 100%;
    /*height: 50px;*/
    border: 1px solid black;
    float:left;
}
.nav-element {
    color: black;
    text-align: center;
    width: 12%;
    border: 1px solid black;
    float: left;
    margin: 10px 70px;
    border-radius: 10px;
}

.nav-element-text{
    font-size: 20px;
    font-weight: 1000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-content{
    text-align: center;
    width: 80%;
    margin: 0px 10%;
}

.page-image{
    float: left;
    margin: 20px 50px;
    margin-top: 80px;
}

.page-text{
    margin: 20px 50px;
    text-align: justify;
}

.title{
    font-family: 'Hubballi', cursive;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    padding-top: 120px;
    color: #283c5f;
}

h2{
    font-family: 'Hubballi', cursive;
    font-size: 40px;
}

p {
    font-family: 'Hubballi', cursive;
    font-size: 28px;
}
