body {
    background-color: powderblue;
}
.nav-bar {
    background-color: #802B1A;
    width: 100%;
    border: 1px solid black;
    float:left;
}
.nav-element {
    color: black;
    text-align: center;
    width: 12%;
    border: 1px solid black;
    float: left;
    margin: 5px 70px;
    border-radius: 6px;
}

.nav-element-text{
    font-size: 20px;
    font-weight: 800;
}

.page-content{
    text-align: center;
    width: 80%;
    margin: 0px 10%;
}

.page-image{
    float: left;
    margin: 20px 50px;
}

.page-text{
    margin: 20px 50px;
    text-align: justify;
}

.title{
    font-family: 'Hubballi', cursive;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

h2{
    font-family: 'Hubballi', cursive;
    font-size: 40px;
}

p {
    font-family: 'Hubballi', cursive;
    font-size: 28px;
}
